<phpunit
  bootstrap="./src/autoload.php"
  colors="true" 
  stopOnFailure="true" 
  syntaxCheck="true">

  <testsuite name="Mastering PHPUnit">
    <directory>./</directory>
  </testsuite>

  <blacklist><directory>../vendor</directory></blacklist>

  <logging>
    <log 
      type="coverage-html" 
      target="./build/coverage" 
      charset="UTF-8" 
      yui="true" 
      highlight="true" 
      lowUpperBound="35" 
      highLowerBound="70"/>
  </logging>
</phpunit>
